.ert-progress {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;

    /* Progress bar container for Firefox/IE10+ */
    background-color: transparent;

    /* Progress bar value for IE10+ */
    color: #1B3254;
}
/* Firefox progress color */
progress.ert-progress::-moz-progress-bar{
    background-color: #1B3254;
}

/* Chrome and Safari progress color */
progress.ert-progress::-webkit-progress-value{
    background-color: #1B3254;
}

.ert-progress-label{
    position: fixed;
    top: -2px;
    left: 0;
    color: #000000;
    mix-blend-mode: hard-light;
    text-align: center;
    width: 100%;
}
