{
    "paths" : {
        "testSite": ""
    },
    "ftpData" : {
		"host" : "",
		"port" : 21,
		"user" : "",
		"password" : "",
		"homePath" : ""
    },
	"sshData" : {
		"test": {
			"hostname": "",
			"port": ,
			"user": "",
			"destination": "
		},
		"production": {
			"hostname": "",
			"port": 22,
			"user": "",
			"destination": ""
		}
	}
}
